<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body style="margin:0"> 
    <header style="background-color: lightgray; padding-bottom: 50px;">
        <center>
            <img src="https://lh3.googleusercontent.com/fp2bDu9TQf98CMyR8HXbt58y-4SI0MAA4H6q_wCFAgTwLA3ydM3lWMVYhOQjQekylqr5paBYH-T0IhsX0Dqv0eUgBfTbalLlXK8v0Bf7xazJIAalalwpm1goePpXtWoIcHt79CqlmYg=s200-p-k" style=" height: 250px; width: 250px; margin-left: 20px;">
        </center>
        <center>
            <select onchange="location = this.value;" style="border-radius:4px; border:1px solid hotpink; background-color: pink; padding-right: 30px; padding-top: 6px; padding-bottom: 4px; box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
                <option selected disabled>{{request.session.first_name}}</option>
                <option value="/home/account">Account</option>
                <option value="/home/checkout">Checkout</option>
                <option value="/home/store">Store</option>
                <option value="/logout">Logout</option>
            </select>
        </center>
    </header>
    <center>
        <div style="text-align: center; padding-top: 20px">
            <div style="display: inline-block;">
                <h2 style="border-bottom: 1px solid hotpink">Edit Profile</h2>

                <form action="/friends/update/{{user.id}}" method="post">
                    <div style="text-align: left">
                        {% csrf_token %}
                        <p><input type="text" name="name" placeholder="First Name"></p>
                        <p><input type="text" name="last_name" placeholder="Last Name"></p>
                        <p><input type="email" name="email" placeholder="Email" style="width: 200px"></p>
                        <p><input type="text" name="password" placeholder="Password"></p>
                    </div>

                    <div style="padding-top: 20px">
                        <input onclick="location.href='/home'" type="button" value="Update" style="background-color: pink;border-radius:4px; border:1px solid hotpink; padding: 4px 10px; font-weight: 700; box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
                        <input onclick="location.href='/home/edit_profile/{{user.id}}'" type="button" value="Cancel" style="background-color: pink;border-radius:4px; border:1px solid hotpink; padding: 4px 10px; font-weight: 700; box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
                    </div>
                </form>
            </div>
        </div>
    </center>
</body>
</html>
